html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: ‘helvetica’, sans-serif;
}
.hero {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    max-height: calc(100% - 50px);
    position: relative; /* Add this line to allow positioning of inner elements */
}
.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 4;
    max-width: 960px; /* Set maximum width */
    padding: 40px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}
.hero h1 {
    color: rgba(163,32,109,0.6);
    font-weight: 300;
    font-size:  40px;
    text-transform: uppercase;
    margin-bottom: 80px; /* Adjust the margin bottom as needed */
    margin-top: 80px; /* Add margin-top to separate it from other elements */
    border-bottom: 2px rgba(163,32,109,0.6) ;
    z-index: 5;
}


.inner h1 {
    color: rgba(163,32,109,0.6);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
    border-bottom: 2px rgba(163,32,109,0.6) dashed;
}
.inner p {
    color: #999999;
    margin-bottom: 0;
    font-size: px;
    line-height: 150%;
    
}
.inner p.small {
    font-size: 20px;
}
.hero p a {
    display: inline-block;
    font-size: 22px;
    color: rgba(163,32,109,0.4);
    margin: 0 10px;
    transform: rotateY(0deg);
    transition: transform 0.2s ease-in-out, color 0.2s linear;
}

.hero p a:hover {
    color: rgba(163,32,109,0.8);
    transform: rotateY(360deg);
    transition: transform 0.6s ease-in-out, color 0.4s linear;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    background: -moz-linear-gradient(top, rgba(114,81,109,0.2) 0%, rgba(238,238,238,1) 100%);
    background: -webkit-linear-gradient(top, rgba(114,81,109,0.2) 0%,rgba(238,238,238,1) 100%);
    background: linear-gradient(to bottom, rgba(114,81,109,0.2) 0%,rgba(238,238,238,1) 100%);
    z-index: 3;
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #EEEEEE;
    z-index: 1;
}
#hero-canvas {
    position: relative;
    width: 100%;
    height: 100%;
}
.suppoprt-me {
    display: inline-block;
    position: fixed;
    top: 10px; /* Adjust top position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 9;
}
.suppoprt-me img {
    width: auto; /* Adjust width */
    height: 40px; /* Adjust height */
}
.title {
    color: rgba(163,32,109,0.6);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 2px rgba(163,32,109,0.6) dashed;
    text-align: center; /* Centers the title */
}
.container.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.navbar {
    padding: 20px 20px 10px 20px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    position: absolute; /* Fixed position to stick to the top */
    top: 0; /* Align to the top of the viewport */
    width: 100%; /* Occupy full width of the viewport */
    z-index: 1000; /* Set a high z-index to ensure it's above other content */
    
}

.about-me{
    color: black;
}
.navbar1 {
    padding: 20px 20px 10px 20px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    position: absolute; /* Fixed position to stick to the top */
    top: 0; /* Align to the top of the viewport */
    width: 100%; /* Occupy full width of the viewport */
    z-index: 1000; /* Set a high z-index to ensure it's above other content */
}
.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.nav-item {
    margin-right: 20px;
}
.nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    border: 1px solid transparent; /* Add border to each button */
    border-color: black;
    background-color: white;
    color: rgba(163,32,109,0.6);
    border-radius: 15px;
    padding: 5px 10px; /* Add padding to create space around the text */
    width: 100px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    text-align: center; /* Horizontally center the text */
}
.nav-link:hover {
    color: #ddd;
}

/* Optional: Adjust button size and font size */
.btn-lg {
    padding: 10px 20px; /* Adjust button padding */
    font-size: 1.2rem; /* Increase button font size */
}
.btn-custom {
    padding: 6px 12px; /* Adjust button padding */
    font-size: 1rem; /* Adjust button font size */
    color: rgba(163,32,109,0.6);
    border: none;
}
.btn-custom:hover {
    background-color: rgba(163, 32, 109, 0.8); /* Change button background color on hover */
}
#image1{
    width: 100%;
    height: auto;
}
.imageLeft{
    width: 100%;
    height: auto;
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}